@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* CSS Reset Start*/
*,
*::before,
*::after {
    box-sizing: border-box;
  }

* {
  margin: 0;
  font-family: 'Raleway';
}

html,
body {
  height: 100%;
}
 
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  background: hsl(30,38%,92%);
}

img,
picture,
video,
canvas, 
svg {
  display: block;
  max-width: 100%;
}

input, 
button, 
textarea, 
select {
  font: inherit;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  overflow-wrap: break-word;
}

/* CSS Reset End*/

:root {
    --neutral-pale-blue: hsl(243, 100%, 93%);
    --neutral-greyish-blue: hsl(229, 7%, 55%);
    --neutral-dark-blue: hsl(228, 56%, 26%);
    --neutral-very-dark-blue:hsl(229, 57%, 11%);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--neutral-very-dark-blue);
    background-image: url(/images/bg-desktop.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 60%;
    min-height: 9.375em;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 30%;
    border-radius: .5em 5em .5em .5em;
    background-color: var(--neutral-dark-blue);
    padding: 2.1875em;


    .icons {
        display: flex;
        margin-top: 1.875em;
    }

    .icons>div {
        width: 2.8125em;
        height:2.8125em;
        border-radius: .5em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.25em;
        background-color: var(--neutral-very-dark-blue);
    }
}

.right {
    width: 65%;
    height: 50%;
    background-color: var(--neutral-dark-blue);
    border-radius: .5em;
    padding: 2.1875em;
    align-self: end;
    position: relative;
    display: flex;
    flex-direction: column;
   

    .chat-bubble {
        height: 7.5em;     
        width: 12.5em;
        position: absolute;
        top: -4.5em;
        align-self: flex-end;
        right: 0em;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        

        .top {
            height: 4.6em;
            background-color: white;
            border-radius: .7em .7em 0em .7em;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bottom {
            display: block;
            position: absolute;
            bottom: 0;
            right: 2.68em;
            border-left: 25px solid transparent;
            border-top: 25px solid white;
        }

    }

    .digits {
        color: black;
    }
    .gb-left {
        color: var(--neutral-greyish-blue);
        font-size: .7em;

    }
    .used {
        color: var(--neutral-greyish-blue);

        .bold {
            color: var(--neutral-pale-blue);
            font-weight: 700;
        }
    }

    .progress {
        height: 1.25em;
        background-color: var(--neutral-very-dark-blue);
        margin-top: 1em ;
        border-radius: .8em;

        .level {
            height: 100%;
            width: 81.5%;
            background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
            border-radius: .8em;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: .13em;
            border: 3px solid var(--neutral-very-dark-blue);

            .point {
                width: .7em;
                height: .7em;
                background-color: var(--neutral-pale-blue) ;
                border-radius: 50%;
            }
        }
    }

    .label {
        display: flex;
        justify-content: space-between;
        color: var(--neutral-pale-blue);
        margin-top: .3em;
    }
}


@media screen and (max-width: 500px) {
    .container {
        background-image: url(/images/bg-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .main {
        width: 100%;
        padding: 1.25em;
        display: flex;
        flex-direction: column;
    }

    .left {
        width: 100%;
        margin-bottom: 2.8125em;
    }

    .right {
        width: 100%;

    }

}